{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-unused-vars":"warn",
    "no-console":"off",
    "no-await-in-loop":"off",
    "no-plusplus":"off",
    "consistent-return":"off",
    "no-param-reassign":"off",
    "no-undef":"off",
    "max-len":"off",
    "prefer-destructuring":"off",
    "global-require":"off"

  }
}
