<!-- Contact page template -->

{% set title = defaultEntries.contact[0].title %} {% extends "pages/index.html" %}
{% block content %}

<section
  class="jumbotron text-center"
  style="
  background-image: url({{defaultEntries.contact[0].banner.image.url}}); font-size: 65px;"
>
  <div class="container">
    <h1 style="font-size: 3.5rem;">{{defaultEntries.contact[0].banner.heading}}</h1>
  </div>
</section>

<div class="container contact-form">
  <div class="contact-image">
    <img
      src="{{defaultEntries.contact[0].logo.url}}"
      alt="logo"
    />
  </div>
  <form method="post">
    <h3>{{defaultEntries.contact[0].contact_message}}</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            name="txtName"
            class="form-control"
            placeholder="Your Name *"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="txtEmail"
            class="form-control"
            placeholder="Your Email *"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="txtPhone"
            class="form-control"
            placeholder="Your Phone Number *"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            name="btnSubmit"
            class="btnContact"
            value="Send Message"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea
            name="txtMsg"
            class="form-control"
            placeholder="Your Message *"
            style="width: 100%; height: 150px"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
  <hr class="featurette-divider" />
</div>

{% endblock %}
