<!-- Error html page -->

{% set title = defaultEntries.error[0].title%} {% extends "pages/index.html" %}
{% block content %}
<section class="main-content">
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center error">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block"
            >{{defaultEntries.error[0].heading}}</span
          >
          <div class="mb-4 lead">{{defaultEntries.error[0].description}}</div>
          <a href="{{defaultEntries.error[0].cta.href}}" class="btn btn-link"
            >{{defaultEntries.error[0].cta.title}}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
