<!-- home page template -->

{% set title = defaultEntries.home[0].title%} {% extends "pages/index.html" %}
{% block content %}

<main role="main">
  <!-- Below section render's the banner of your home page once the data is fetched from Contentstack -->
  <section
    class="jumbotron text-center"
    style="
  background-image: url({{defaultEntries.home[0].hero_banner_content.hero_banner_image.url}});"
  >
    <div class="container">
      <h1>{{defaultEntries.home[0].hero_banner_content.banner_heading}}</h1>
      <p class="lead bannerText">
        {{defaultEntries.home[0].hero_banner_content.banner_content}}.
      </p>
    </div>
  </section>
  <div class="container marketing">
    <hr class="featurette-divider" />
    <div class="row">
      <div class="center-info">
        <h2>{{defaultEntries.home[0].about_section.heading}}</h2>
        <p>{{defaultEntries.home[0].about_section.description}}</p>
      </div>
    </div>
    <hr class="featurette-divider" />
    <!-- Below section render's the testimonial section of your home-page-->
    <div class="center-info">
      <h2>{{entries[0].blog.heading}}</h2>
    </div>
    <div class="row">
      {% for blog in entries[0].blog.blog_list %}
      <div class="col-lg-4">
        <img class="testimonial-img" src="{{blog.image.url}}" />

        <h4>{{blog.heading}}</h4>
        <p>{{blog.description}}</p>
        <p>
          <a class="btn btn-secondary" href="{{blog.cta.href}}" role="button"
            >{{blog.cta.title}} &raquo;</a
          >
        </p>
      </div>
      {% endfor %}
    </div>
    <hr class="featurette-divider" />
  </div>
</main>

{% endblock %}
